<h1><%= @article.title %></h1>

<p><%= @article.content %></p>

<% if user_signed_in? && current_user == @article.user %>
<ul>
  <%= link_to "Edit", edit_article_path(@article) %>
  <%= link_to "Destroy", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
<% end %>
  <%= link_to "Back", :back %>
</ul>
