<%= form_with model: product do |form| %>

  <% if product.errors.any? %>
    <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>
    <ul>
      <% product.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_area :description, rows: 10%>
  </div>
    
  <div class="my-5">
    <%= form.label :image_url %>
    <%= form.text_field :image_url %>
  </div>
  
  <div class="my-5">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

    
  <div class="inline">
    <%= form.submit %>
  </div>

<% end %>

<div>
  <%= link_to "Back", :back %>
</div>