<% if line_item == @current_item %>
<tr class="line-item-highlight">
<% else %>
<tr>
<% end %>
  <td><%= line_item.quantity %></td>
  <td>&times;</td>
  <td>
    <%= line_item.product.title %>
  </td>
  <td>
    <%= number_to_currency(line_item.total_price, unit: '₹') %>
  </td>
  <td>
    <%= link_to '(+)', increment_line_item_url(line_item) %>

  </td>
  <td>
    <%= link_to '(-)', decrement_line_item_url(line_item) %>

  </td>
  <td>
    <%= link_to '(x)', item_delete_line_item_url(line_item)  %>
  </td>

</tr>
