<%= form_with model: trade do |form| %>

  <% if trade.errors.any? %>
    <h2><%= pluralize(trade.errors.count, "error") %> prohibited this trade from being saved:</h2>
    <ul>
      <% trade.errors.each do |error| %>
      <li><%= error.full_message %></li>
      <% end %>
    </ul>
  <% end %>

  <div>
    <%= form.label :Date %>
    <%= form.date_field :date %>
    <!-- <%#= form.date_field :todays_date, value: @trade.todays_date&.strftime('%d-%m-%Y')  %> -->
  </div>

  <div>
    <%= form.label :Scrip %>
    <%= form.text_field :scrip %>
  </div>

  <div>
    <%= form.label :Position %>
    <%= form.select :position, ['LONG', 'SHORT'] %>
  </div>

  <div>
    <%= form.label :Conviction %>
    <%= form.select :conviction, ['HIGH', 'MEDIUM', 'LOW'] %>
  </div>

  <div>
    <%= form.label :Reason %>
    <%= form.text_field :trade_reason %>
  </div>

  <div>
    <%= form.label :Quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div>
    <%= form.label :EntryPrice %>
    <%= form.text_field :entry_price %>
  </div>

  <div>
    <%= form.label :StopLoss %>
    <%= form.text_field :stoploss %>
  </div>

  <div>
    <%= form.label :Target %>
    <%= form.text_field :target %>
  </div>

  <div>
    <%= form.label :ExitPrice %>
    <%= form.text_field :exit_price %>
  </div>

  <div>
    <%= form.label :Learning %>
    <%= form.text_area :learning %>
  </div>
  
  <div>
    <%= form.label :Mistakes %>
    <%= form.text_area :mistakes %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <div>
    <%= form.submit %>
  </div>

<% end %>

  <div>
    <%= link_to "Back", :back %>
  </div>