<%= render "homes/index" %>
<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">S.NO.</th>
      <th scope="col">DATE</th>
      <th scope="col">SCRIP</th>
      <th scope="col">POSITION</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">ENTRY PRICE</th>
      <th scope="col">STOPLOSS</th>
      <th scope="col">RISK</th>
      <th scope="col">TARGET</th>
      <th scope="col">REWARD</th>
      <th scope="col">RISK REWARD</th>
      <th scope="col">EXIT PRICE</th>
      <th scope="col">PROFIT LOSS</th>
      <th scope="col">RR ACHIEVED</th>
      <th scope="col">DETAILS</th>
    </tr>
  </thead>
  <tbody>
      <% @trades.each do |trade| %>
    <tr>
        <!-- S.NO. -->
        <td><%=link_to trade.id, trade %></td>
        <!-- DATE -->
        <td><%= trade.date&.strftime('%d - %m - %Y') %></td>
        <!-- SCRIP -->
        <td><%= trade.scrip %></td>
        <!-- POSITION -->
        <td><%= trade.position %></td>
        <!-- QUANTITY -->
        <td><%= trade.quantity %></td>
        <!-- ENTRY PRICE -->
        <td><%= trade.entry_price %></td>
        <!-- STOPLOSS -->
        <td><%= trade.stoploss %></td>
        <!-- RISK -->
        <td><%= trade.risk%></td>
        <!-- TARGET -->
        <td><%= trade.target %></td>
        <!-- REWARD -->
        <td><%= trade.reward %></td>
        <!-- RISK REWARD -->
        <td><%= trade.riskreward %></td>
        <!-- EXIT PRICE --> 
        <td><%= trade.exit_price %></td>
        <!-- PROFIT LOSS -->
        <td><%= trade.profit_loss%></td>
        <!-- RR ACHIEVED -->
        <td><%= trade.rr_achieved %></td>

        <td><%= link_to "DETAILS", trade, class:"btn btn-secondary" %></td>
    </tr>
      <% end %>
  </tbody>
</table>

<%= link_to "New Trade", new_trade_path %>
