<table class="table table-bordered">
  <thead class="table-success">
    <tr>
      <th scope="col">DATE</th>
      <th scope="col">SCRIP</th>
      <th scope="col">POSITION</th>
      <th scope="col">QUANTITY</th>
      <th scope="col">ENTRY PRICE</th>
      <th scope="col">STOPLOSS</th>
      <th scope="col">RISK</th>
      <th scope="col">TARGET</th>
      <th scope="col">REWARD</th>
      <th scope="col">RISK REWARD</th>
      <th scope="col">EXIT PRICE</th>
      <th scope="col">PROFIT LOSS</th>
      <th scope="col">RR ACHIEVED</th>
      <th scope="col">LEARNING</th>
      <th scope="col">MISTAKES</th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <!-- DATE -->
        <td><%= @trade.date&.strftime('%d - %m - %Y') %></td>
        <!-- SCRIP -->
        <td><%= @trade.scrip %></td>
        <!-- POSITION -->
        <td><%= @trade.position %></td>
        <!-- QUANTITY -->
        <td><%= @trade.quantity %></td>
        <!-- ENTRY PRICE -->
        <td><%= @trade.entry_price %></td>
        <!-- STOPLOSS -->
        <td><%= @trade.stoploss %></td>
        <!-- RISK -->
        <td><%= @trade.risk%></td>
        <!-- TARGET -->
        <td><%= @trade.target %></td>
        <!-- REWARD -->
        <td><%= @trade.reward %></td>
        <!-- RISK REWARD -->
        <td><%= @trade.riskreward %></td>
        <!-- EXIT PRICE --> 
        <td><%= @trade.exit_price %></td>
        <!-- PROFIT LOSS -->
        <td><%= number_with_precision @trade.profit_loss, :precision => 2%></td>
        <!-- RR ACHIEVED -->
        <td><%= number_with_precision @trade.rr_achieved, :precision => 2 %></td>
      <td><%= @trade.learning %></td>
      <td><%= @trade.mistakes %></td>
    </tr>
  </tbody>
</table>
<ul>
  <li><%= link_to "Edit", edit_trade_path(@trade) %></li>
  <li><%= link_to "Destroy", trade_path(@trade), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
  <li><%= link_to "Back", :back %></li>
</ul>
