<div class="container m-4 p-4">
  <div class="row">
    <div class="col-8">
      <div class="row">
        <% @products.each do |product| %>
          <div class="col-md-4 mb-4">
            <div class="card h-100">
              <div style="max-height: 200px; overflow: hidden;">
                  <%= image_tag product.image_url if product.image_url.attached?%>
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= link_to product.title, product %></h5>
                <p class="card-text text-muted"><%= number_to_currency(product.price, unit: '₹') %></p>
                <p class="card-text" style="max-height: 50px; overflow: hidden;"><%= product.description %></p>
                <%= button_to 'Add to Cart', line_items_path(product_id: product), method: :post, class: "btn btn-primary btn-sm" %>
              </div>
            </div>
          </div>
        <% end %>
        <%= link_to "New Product", new_product_path %>
      </div>
    </div>
    <div class="col-4">
      <section class="flex">
        <nav>
          <%= render partial: 'layouts/cart', locals: {cart: @cart } %>
        </nav>
      </section>
    </div>
  </div>
</div>
